<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ dic.titulo }}</title>
</head>
<body>
    <div>
        <h1>{{ dic.encabezado }}</h1>
        <p>{{ dic.parrafo }}</p>
        
        <a href="{{ url_for('contacto') }}">Sección CONTACTO</a><br>
        <a href="{{ url_for('base') }}">Sección BASE</a>
        </hr>
    </div>
    
    <ul>
        {% if dic.condicion %}

        {% for lenguaje in dic.lenguajes %}    
        <li>{{ lenguaje }}</li>
        {% endfor %}

        {% else %}
        <h2>No hay lenguajes</h2>
        {% endif %}
    </ul>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>